apache-airflow[password]==1.10.11
apache-airflow[postgres]==1.10.11
apache-airflow[presto]==1.10.11
apache-airflow[redis]==1.10.11
apache-airflow[slack]==1.10.11
apache-airflow[ssh]==1.10.11
apache-airflow[jdbc]==1.10.11
apache-airflow[google_auth]==1.10.11
apache-airflow[devel]==1.10.11
apache-airflow[crypto]==1.10.11
apache-airflow[celery]==1.10.11
apache-airflow[aws]==1.10.11
apache-airflow[async]==1.10.11
requests==2.24.0
boto3==1.14.42
pandas==1.0.5
apache-airflow-backport-providers-amazon==2020.6.24
apache-airflow-backport-providers-mongo==2020.6.24
pyarrow==1.0.0
cryptography==3.2